%==== PACKAGES AND OTHER DOCUMENT CONFIGURATIONS  ====%
\documentclass{resume} % Use the custom resume.cls style
\usepackage[left=0.25in,top=0.25in,right=0.25in,bottom=0.25in]{geometry} % Document margins
\usepackage[T1]{fontenc}
\usepackage{xcolor}
\usepackage{lmodern}
\usepackage[T1]{fontenc}
\usepackage{fontawesome} % For GitHub and LinkedIn symbols
\usepackage{textcomp} % For mobile phone and email symbols
% \usepackage[colorlinks=true, linkcolor=blue, citecolor=blue, urlcolor=blue]{hyperref}
\usepackage{xcolor}  % Required for defining custom colors
\usepackage{hyperref}
% Define your custom colors
% \definecolor{myblue}{RGB}{173, 216, 246}
% \definecolor{myblue}{RGB}{123, 176, 206}
\definecolor{myblue}{RGB}{0, 164, 218}

% Set hyperlink colors
\hypersetup{
    colorlinks=true,
    linkcolor=myblue,
    citecolor=myblue,
    urlcolor=myblue
}

\usepackage{hyperref}

%==== Headings ====%
\name{\VAR{contact_info.name}} % Your name
\address{
\BLOCK{ if contact_info.email }{\faEnvelope} \href{mailto:\VAR{contact_info.email}}{\VAR{contact_info.email}} \quad \BLOCK{ endif }
\BLOCK{ if media.github_url }{\faGithub} \href{\VAR{media.github_url}}{\VAR{media.github_url}} \quad \BLOCK{ endif }
\BLOCK{ if media.linkedin_url }{\faLinkedin} \href{\VAR{media.linkedin_url}}{\VAR{media.linkedin_url}}\BLOCK{ endif }}
\BLOCK{ if contact_info.location }\address{\VAR{contact_info.location[0]}}\BLOCK{ endif }


\begin{document}

%==== SUMMARY SECTION ====%
\BLOCK{ if summary }
\begin{rSection}{Summary}
    \VAR{summary.summary.replace('&', '\\&')}
\end{rSection}
\BLOCK{ endif }

%==== WORK EXPERIENCE SECTION =====%
\BLOCK{ if experiences.work_experience }
    \begin{rSection}{Work Experience}
        \BLOCK{ for exp in experiences.work_experience }
            \begin{rSubsection}
                {\VAR{exp.role}}{\BLOCK{ if exp.from_date }\VAR{exp.from_date} - \VAR{exp.to_date}\BLOCK{ endif }}
                {\normalfont{\textit{\VAR{exp.company}}}}
                {\normalfont{\textit{\VAR{exp.location}}}}
                \BLOCK{ for point in exp.description }
                    \item \VAR{point.replace('&', '\\&')}
                \BLOCK{ endfor }
            \end{rSubsection}
        \BLOCK{ endfor }
    \end{rSection}
\BLOCK{ endif }

%==== EDUCATION SECTION ====%
\BLOCK{ if educations.education }
\begin{rSection}{Education}
    \BLOCK{ for edu in educations.education }
        {\textbf{\VAR{edu.degree}}} \hfill {\VAR{edu.from_date} - \VAR{edu.to_date}}
        \\ % Line break
        {\normalfont{\textit{\VAR{edu.university}}}}
        \BLOCK{ if edu.special_achievements }
            \begin{list}{$\bullet$}{ % Create list only if we have achievements
                \leftmargin=1.5em
                \itemsep=-0.5em
                \vspace{-0.5em}
            }
            \BLOCK{ for achievement in edu.special_achievements }
                \item \VAR{achievement}
            \BLOCK{ endfor }
            \end{list}
        \BLOCK{ endif }
        \vspace{0.1em}
    \BLOCK{ endfor }
\end{rSection}
\BLOCK{ endif }

%==== CERTIFICATIONS SECTION ====%
\BLOCK{ if certifications_trainings.certifications_trainings }
\begin{rSection}{Certifications \& Training}
    \BLOCK{ for cert in certifications_trainings.certifications_trainings }
        \begin{rSubsection}
            {\href{\VAR{cert.certificate_link}}{\VAR{cert.name.replace('&', '\\&')}}}{\VAR{cert.date}}
            {\normalfont{\textit{\VAR{cert.organization}}}}{}
            \item \VAR{cert.key_technologies_concepts.replace('&', '\\&')}
            \BLOCK{ if cert.project }
                \item \textbf{Project:} \href{\VAR{cert.project.link}}{\VAR{cert.project.name.replace('&', '\\&')}} - \VAR{cert.project.key_technologies_concepts.replace('&', '\\&')}
            \BLOCK{ endif }
        \end{rSubsection}
    \BLOCK{ endfor }
\end{rSection}
\BLOCK{ endif }

%==== PROJECTS SECTION ====%
\BLOCK{ if projects.projects }
\begin{rSection}{Projects}
    \BLOCK{ for project in projects.projects }
        \begin{rSubsection}
            {\href{\VAR{project.link}}{\VAR{project.name}}}{\VAR{project.date}}{}{}
            \item \VAR{project.key_technologies_concepts.replace('&', '\\&')}
        \end{rSubsection}
    \BLOCK{ endfor }
\end{rSection}
\BLOCK{ endif }

%==== TECHNICAL SKILLS SECTION ====%
\BLOCK{ if skill_sections.skill_section }
\begin{rSection}{Technical Skills}
    \begin{tabular}{ @{} >{\bfseries}l @{\hspace{1ex}} l }
        \BLOCK{ for section in skill_sections.skill_section }
            \VAR{section.name}: & \VAR{', '.join(section.skills)} \\
        \BLOCK{ endfor }
    \end{tabular}
\end{rSection}
\BLOCK{ endif }

\end{document}